.btn-container {
  display: flex;
  flex-direction: row;
  margin-block: 1rem;
  gap: 0.5rem;
}

.output {
  border: 0.1rem solid var(--color-primary);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.8rem;
}

.nav-btns {
  justify-content: center;
  gap: 1rem;
}
